<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title th:text="${titulo}">Agregar Campania Publicitaria</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

	<script src="carteles/RegionesYComunas.js"></script>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/savecartel}" th:object=${cartelpublicitario} method="POST"
				enctype="multipart/form-data">
				<div class="card">
					<div class="card-header text-center" >
						<h3 th:text="${titulo}">Agregar Cartel Publicitario</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<input th:field="*{id}" type="hidden" class="form-control" />
						</div>
						<div class="form-group">
							 <input th:field="*{idusuario}" type="text" class="form-control" hidden />
						</div>

						<div class="form-group">
							<label>TITULO </label> <input th:field="*{titulo}" type="text" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>DIRECCION</label> <input th:field="*{direccion}" type="text" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>NOMBRE</label> <input th:field="*{nombre}" type="text" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>APELLIDO</label> <input th:field="*{apellido}" type="text" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>CORREO</label> <input th:field="*{correo}" type="email" class="form-control"
								required="required" />
						</div>
						<div class="form-group">
							<label>NUMERO DE CONTACTO</label> <input th:field="*{nrocontacto}" type="number"
								maxlength="9" class="form-control" required="required" />
						</div>

						<div class="form-group">
							<label>Regiones</label>
							<select id="*{region}" name="region" class="form-select">
								<option value="Tarapaca">Tarapaca</option>
								<option value="Antofagasta">Antofagasta</option>
								<option value="Atacama">Atacama</option>
								<option value="Coquimbo">Coquimbo</option>
								<option value="Valparaiso">Valparaiso</option>
								<option value="O'Higgins">O'Higgins</option>
								<option value="Maule">Maule</option>
								<option value="Bio - Bio">Bio - Bio</option>
								<option value="Araucania">Araucania</option>
								<option value="Los Lagos">Los Lagos</option>
								<option value="Aisen">Aisen</option>
								<option value="Magallanes Y Antartica">Magallanes Y Antartica</option>
								<option value="Metropolitana">Metropolitana</option>
								<option value="Los Rios">Los Rios</option>
								<option value="Arica y Parinacota">Arica y Parinacota</option>

							</select>
								<div class="form-group">
							<label>Comuna</label> <input th:field="*{comuna}" type="text" class="form-control"
								required="required" />
						</div>

						</div>

							<div class="form-group">
							<label>PRECIO</label> <input th:field="*{precio}" type="number" class="form-control"
								required="required" />
						</div>

						<div class="form-group">
							<label>IMAGEN DEL CARTEL</label> <input type="file" name="file" id="image" required/>
						</div>
						<div class="form-group">
							<label>DOCUMENTACION DEL CARTEL</label> <input type="file" name="document"
								id="documentos" required/>
						</div>
																		<div class="form-group">
							<label>DESCRIPCION</label> <textarea th:field="*{detalle}" type="text"
								class="form-control" required="required"></textarea>
						</div>
						<br>
						<input type="checkbox" name="condiciones" required/>
						<label for="condiciones">Aceptar Terminos y <a href="pagina_condiciones.html">Condiciones</a> </label>
						



					</div>
					<div class="d-grid gap-2 btn-block">
						<input type="submit" value="Guardar" class="btn btn-warning">

					</div>
				</div>
			</form>

		</div>
	</div>
</body>

</html>