<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-warning">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Publicita+(Administrador)</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page" href="/inicioAdmin">Inicio</a>
					<a class="nav-link" href="/listar">Campanias Publicitarias</a>
					<a class="nav-link" href="/listacartel">Carteles Publicitarios</a>



				</div>
			</div>
		</div>
	</nav>
</header>

<body>
	<div class="container mt-4">
		<a th:href="@{/nuevocartel}" class="btn btn-primary">Nuevo</a>

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>IDUSUARIO</th>
					<th>TITULO</th>
					<th>DIRECCION</th>
					<th>REGION</th>
					<th>COMUNA</th>
					<th>image</th>
					<th>TELEFONO</th>
					<th>CORREO</th>
					<th>NOMBRE</th>
					<th>APELLIDO</th>
					<th>PRECIO</th>
					<th>DETALLE</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cartelpublicitarios:${cartelpublicitarios}">




					<td th:text="${cartelpublicitarios.id}"></td>



					<td th:text="${cartelpublicitarios.idusuario}"></td>
					<td th:text="${cartelpublicitarios.titulo}"></td>
					<td th:text="${cartelpublicitarios.direccion}"></td>
					<td th:text="${cartelpublicitarios.region}"></td>
					<td th:text="${cartelpublicitarios.comuna}"></td>
					<td th:text="${cartelpublicitarios.image}"></td>
					<td th:text="${cartelpublicitarios.nrocontacto}"></td>
					<td th:text="${cartelpublicitarios.correo}"></td>
					<td th:text="${cartelpublicitarios.nombre}"></td>
					<td th:text="${cartelpublicitarios.apellido}"></td>
					<td th:text="${cartelpublicitarios.precio}"></td>
					<td th:text="${cartelpublicitarios.detalle}"></td>

					<td>
						<a th:href="@{/modificarcartel/}+${cartelpublicitarios.id}"
							Class="btn btn-warning">Modificar</a>
						<a th:href="@{/eliminarcartel/}+${cartelpublicitarios.id}"
							Class="btn btn-warning">Eliminar</a>
							<a th:href="@{detallecartel/}+${cartelpublicitarios.id}"Class="btn btn-warning">VerDetalle</a>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>