<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">

</head>
<body>
	<div class="container mt-4">
		<div class="col-sm-6">
		
<div class="card bg-ligth">
<div class="card-header bg-dark text-while" th:text="*{nombre}"></div>
<div class="card-body">
	<img class="img-thumbnail rounded float-left"
	th:src="@{'images/' + *{image}}"
	th:alt="error.jpg"
	style="max-width:25%;">

</div>


</div>
	
	<ul class="list-group">
	<li class="list-grup-item" th:text="'Nombre de la Campaña: '+*{nombre}"></li>
	<li class="list-grup-item" th:text="'Area de la Campaña: '+*{area}"></li>
	<li class="list-grup-item" th:text="'Valor a pagar de la Campaña: '+*{valor}"></li>
	<li class="list-grup-item" th:text="'Duracion de la Campaña: '+*{duracion}"></li>
	<li class="list-grup-item" th:text="'Descripcion de la Campaña: '+*{detalle}"></li>
	</ul>
	
	
		</div>
	</div>
</body>
</html>