<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Detalle Campaña</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
	<div class="card bg-light">
	<div class="card-header bg-warning text-center" th:text="${titulo}" >
		
	</div>
	<div class="card-body">
		<div   class="text-center">
	<img class="img-thumbnail rounded"
		th:src="@{'/images/' + ${campaniapublicitaria.image}}"
		th:alt="${campaniapublicitaria.image}"
		style= "max-width:25%;">
		</div>
		<br>
		<ul class="list-group">
			
		<li class="list-group-item" th:text="'ID		:		' + ${id}"></li>
		<li class="list-group-item" th:text="'NOMBRE DE LA CAMPANIA		:		' +${campaniapublicitaria.nombre}"> </li>
		<li class="list-group-item" th:text="'DURACION DE LA CAMPANIA		:		' +${campaniapublicitaria.duracion}"></li>
		<li class="list-group-item" th:text="'AREA		:		' +${campaniapublicitaria.area}"></li>
		<li class="list-group-item" th:text="'VALOR A PAGAR		:		' +${campaniapublicitaria.valor}"></li>
		
		
		</ul>
	</div>
	<div class="card">
	<div class="card-body ">
		<h6 class="card-subtitle mb-2 text-muted">DETALLE</h6>
		<p class="card-text" th:text="${campaniapublicitaria.detalle}"></p>
	</div>
	</div>
	</div>
		<br>
	<a th:href="@{/postularcampania/}+${campaniapublicitaria.id}"Class="btn btn-warning">Postular</a>
</div>	

</body>
</html>